GZCD_Cleaned.csv
GGR2020_subset/
test_dataset/
*__pycache__/
.snakemake/
scratch/
# Mac system
.DS_Store
*.pickle
*lca_run_*.sh

TEST_DATA/
config_*.yaml
test_dataset/
./*.out
algo/lca_run_*.sh


D1/
D2/
D3/
UI/init_db.sh
UI/run_gui.sh
kate/*

config_*.yaml

.ipynb_checkpoints/
post_run.ipynb
post_run.ipynb


